* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

}

.main_div {
  width: 100%;
  height: 100vh;
  background-color: rgb(38, 37, 39);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.center_div {
  height: 80vh;
  width: 45%;
  border-radius: 10px;
  background-color: rgb(212, 208, 236);
  box-shadow: 5px 5px 25px -5px rgba(0, 0, 0, 0.5);


}

.center_div h1 {
  color: white;
  background-color: rgb(110, 19, 138);
  text-align: center;
  margin: auto;
  box-shadow: 5px 5px 25px -5px rgba(0, 0, 0, 0.6);
}

input {
  height: 35px;
  font-size: 20px;
  font-weight: 500;
  width: 60%;
  border-radius: 5px;
  border: none;
  background: transparent;
  outline: none;
  text-align: center;
  border-bottom: 2px solid rgb(110, 19, 138);
}

button {
  height: 40px;
  width: 40px;
  border: none;
  border-radius: 50%;
  border-color: transparent;
  background-color: rgb(110, 19, 138);
  font-size: 30px;
  outline: none;
  margin-left: 10px;
  color: #fff;
  box-shadow: 5px 5px 15px -5px rgba(6, 0, 8, 0.3);
}

button:hover {
  background-color: green;
}

ol {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

ol li {
  padding-left: 20px;
  text-align: left;
  font-size: 20px;
  font-weight: 600;
  display: flex;
  min-height: 40px;
  align-items: center;
  color: rgb(110, 19, 138);
  text-transform: capitalize;

}

.resetbtn {
  height: 40px;
  width: 100px;
  border: none;
  border-radius: 5%;
  border-color: transparent;
  background-color: rgb(110, 19, 138);
  font-size: 30px;
  outline: none;
  margin-left: 10px;
  margin-top: 20px;
  color: #fff;
  box-shadow: 5px 5px 15px -5px rgba(6, 0, 8, 0.3);
}

.resetbtn:hover {
  background-color: red;

}